/////////////////////////////////////////////////////////////
// Styles for nrcs-design-system
// MAIN SCSS ENTRY POINT
/////////////////////////////////////////////////////////////

// 'nrcs-style' custom Bootstrap Theme
@import "nrcs-style/nrcs-style";

// Additional styles for 'nrcs-design-system' documentation

h1.docs,
h2.docs {
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.25rem;
  margin-bottom: 1.25rem;
}
h3.docs,
h4.docs,
h5.docs,
h6.docs {
  margin-top: 1.5rem;
}

///////////////////////////
// DOCS MISC

// COLOR
.docs-color-black {
  background-color: $black;
}
// .docs-color-focus {

// }
.docs-color-active {
  background-color: $selection-active-bg;
}
.docs-color-swatch {
  min-height: 150px;
}
.docs-color-primaryoutline {
  color: $primary;
  border: 1px $primary solid;
  background-color: $white;
}
.docs-gray-100 {
  background-color: $gray-100;
  border-top: 1px $gray-200 solid;
  border-right: 1px $gray-200 solid;
  border-left: 1px $gray-200 solid;
}
.docs-gray-200 {
  background-color: $gray-200;
}
.docs-gray-300 {
  background-color: $gray-300;
}
.docs-gray-400 {
  background-color: $gray-400;
}
.docs-gray-500 {
  background-color: $gray-500;
}
.docs-gray-600 {
  background-color: $gray-600;
}
.docs-gray-700 {
  background-color: $gray-700;
}
.docs-gray-800 {
  background-color: $gray-800;
}
.docs-gray-900 {
  background-color: $gray-900;
}

// Typography
.docs-typeface p {
  margin: 0;
}
.docs-text-big {
  font-size: 5rem;
}
.docs-text-fallback {
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// temporary hack
.badge + .badge {
  margin-left: 0.5rem;
}

.nav-card a:not(:hover) {
  text-decoration: none;
}

// Page Header
// Specifics:
.fpac-header {
  background-color: $secondary;
}
.nrcs-header {
  background-color: $primary;
}
.cd-header {
  background-color: $primary;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include media-breakpoint-down(sm) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .header-subtitle {
    font-size: $h5-font-size;
  }
}
.nrcs-header,
.fpac-header {
  .header-title {
    padding-top: 5.5rem;
    @include media-breakpoint-down(sm) {
      padding-top: 3.5rem;
    }
  }

  .header-subtitle {
    font-size: $h4-font-size;
    color: rgba(255, 255, 255, 0.5) !important; // 'text-white-50'
  }
}
// All header types share this:
.nrcs-header,
.fpac-header,
.cd-header {
  color: $white;

  a {
    color: $white;
    text-decoration: none;
  }

  .header-title {
    font-weight: $font-weight-light;
  }

  .header-subtitle {
    color: rgba(255, 255, 255, 0.5) !important; // 'text-white-50'
  }
}
// Page Footer
.fpac-footer {
  color: $white;
  background-color: $gray-600;
  margin-top: 3rem;
}
.fpac-footer {
  div[class^="col"],
  div[class*=" col"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.fpac-footer .nav-link,
.fpac-footer a {
  color: $white;
  padding: 0.25rem 0.25rem 0.25rem 0;
}
.fpac-footer .nav-link:hover,
.fpac-footer a:hover {
  text-decoration: underline;
}
.fpac-footer-header,
.fpac-footer-header-secondary {
  font-size: 19px;
  // font-weight: $font-weight-normal;
}
.fpac-footer-secondary {
  border-left: 1px solid rgba(255, 255, 255, 0.5); // 'text-white-50'

  @include media-breakpoint-up(lg) {
    padding-left: 3rem;
  }
  @include media-breakpoint-down(md) {
    border-left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5); // 'text-white-50'
    padding-top: 2rem;
  }
}

// 508 Highlighting
// 508 highlight
:focus,
.focus {
  outline: 3px solid $input-btn-focus-color;
}

a:focus {
  outline-offset: 2px;
}
