/////////////////////////////////////////////////////////////
// Override styles for use Alerts in the NRCS Design System
/////////////////////////////////////////////////////////////

// Make text darker and non-colorized for 508
.alert {
  color: $body-color !important;
}

.alert-link {
  color: $primary !important;
}

.alert-fpac {
  // border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-width: 4px;
}
