/////////////////////////////////////////////////////////////
// Override Badge component styles for NRCS Design System
/////////////////////////////////////////////////////////////

// Make text darker and non-colorized for 508
.badge {
  color: $body-color !important;
  border: $alert-border-width solid transparent;
}

// Use same coloring as Alerts for Badges in NRCS DS, taken from ~/bootstrap/scss/_Alert.scss
@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include alert-variant(
      theme-color-level($color, $alert-bg-level),
      theme-color-level($color, $alert-border-level),
      theme-color-level($color, $alert-color-level)
    );
  }
}

// @each $color, $value in $theme-colors {
//   .alert-#{$color} {
//     // border-top: 1px solid theme-color($color);
//     // border-right: 1px solid theme-color($color);
//     // border-bottom: 1px solid theme-color($color);
//     border-top: 0;
//     border-right: 0;
//     border-bottom: 0;
//     border-left: 4px solid theme-color($color);
//   }
// }

.badge-fpac {
  // border-radius: 2px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-width: 4px;
}
