/////////////////////////////////////////////////////////////
// Override styles of Buttons in NRCS Design System
/////////////////////////////////////////////////////////////

$primary-dark: theme-color-level("primary", 3);

// MAIN buttons Dismmisive, Alternate, Save (no other input use cases etc.)
// get min width
.btn-main {
  min-width: 4.5rem; // ~72px;
}
// BLOCK and 100% width to stack buttons on small screens for MAIN buttons only
@include media-breakpoint-down(sm) {
  .btn-main {
    display: block;
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 0.5rem;
  }
}

// SOLID
.btn-primary:hover {
  background-color: $primary-dark;
}
.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

// OUTLINE
.btn-outline-primary,
.btn-outline-secondary {
  background-color: $white;
}
.btn-outline-primary:hover {
  color: $primary-dark;
  background-color: $gray-200;
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: $primary-dark;
}

// FLAT (LINK)
.btn-link {
  color: $primary;
}

.btn-link:hover {
  color: $primary-dark;
  background-color: $gray-200;
}

// ICON (LINK)
.btn-icon {
  padding: 0.25rem;
}
