/////////////////////////////////////////////////////////////
// Styles for Cards in the NRCS Design System
/////////////////////////////////////////////////////////////

.card-muted {
  background-color: $table-head-bg;
}

.card-header {
  background-color: $table-head-bg;
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-body {
  padding: 1rem;
}
