// DateTable
.caption {
  padding: 0;
  font-weight: $font-weight-bold;
  color: $gray-700; // same as table headers
  display: inline-block;
}

.datatable .btn {
  padding: 0.375rem; // hmm
}
.th-sort .btn-link .mdi {
  fill: $gray-600; // grey, not button blue as not to be too noisy in a data table
}
.th-sort .btn-link {
  font-weight: $font-weight-bold;
  color: $gray-700; // same as table headers
}
// hover and active states get dark blue
.th-sort .btn-link:hover,
.th-sort .btn-link:hover .mdi,
.th-sort-active .btn-link,
.th-sort-active .btn-link .mdi {
  color: $primary-dark;
  fill: $primary-dark;
}

.datatable > ul.pagination {
  margin-bottom: 0;
}
