/////////////////////////////////////////////////////////////
// Styles for 'Growl' component in the NRCS Design System
/////////////////////////////////////////////////////////////

.growl {
  position: relative;
  min-height: 200px;
}

.growl-top-right {
  position: fixed;
  top: 16px;
  right: 16px;
}

.growl-top-center {
  // blurry issue?
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);

  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// remove margin from bottom of Alert
.growl .alert {
  margin-bottom: 0;
}

// 4px left, 1px rest...
@each $color, $value in $theme-colors {
  .growl .alert-#{$color} {
    border-top: 1px solid theme-color($color);
    border-right: 1px solid theme-color($color);
    border-bottom: 1px solid theme-color($color);
    border-left: 4px solid theme-color($color);
  }
}

.growl .toast {
  background-color: none;
  border: none;
}
