a.list-group-item {
  text-decoration: none;
}
a:hover.list-group-item {
  text-decoration: underline;
}
button.list-group-item,
button.list-group-item:hover,
button.list-group-item:focus {
  color: $body-color;
}
button.list-group-item.active {
  color: $selection-active-color;
}

.list-group-item.active {
  font-weight: $font-weight-bold;
  // color: $primary;
  // border-left: 4px solid theme-color("info");
}
a.list-group-item.active {
  color: $primary;
}

.list-group-flush {
  .list-group-item:not(.active) {
    background-color: transparent;
  }
}

.list-group-borderless {
  .list-group-item {
    background-color: transparent;
    border: 0;
    // border-radius: 0;
  }
  .list-group-item.active {
    border-left: 4px solid theme-color("info");
  }
}
