.nav-link,
.nav-link:hover,
.nav-link:focus {
  color: $body-color;
  text-decoration: none;
  // font-weight: $font-weight-bold;
}
.nav-link.active {
  font-weight: $font-weight-bold;
}

//
// Tabs
//

//
// NRCS default tab style 'tabs'
//
ul.nav-tabs {
  // no-wrap, and horizontal scrolling for small devices
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  // for ios momentum scrolling
  -webkit-overflow-scrolling: touch;

  // hide scrollbar on webkit browsers
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.nav-tabs .nav-link {
  border-top: 4px solid transparent;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: $border-color;
  border-top: 4px solid $gray-600;
}

//
// FPAC underline style
//
ul.nav-fpac {
  border-bottom: 1px solid $border-color;
  // no-wrap, and horizontal scrolling for small devices
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  // for ios momentum scrolling
  -webkit-overflow-scrolling: touch;
}
.nav-fpac .nav-link {
  border-bottom: 4px solid transparent;
}
.nav-fpac .nav-link:hover,
.nav-fpac .nav-link:focus {
  border-bottom: 4px solid $gray-600;
}
.nav-fpac .nav-link.active {
  color: $body-color;
  border-bottom: 4px solid $primary;
  font-weight: $font-weight-bold;
}

//
// FPAC vertical line style
//
ul.nav-fpac.flex-column {
  border-bottom: 0;
  border-right: 1px solid $border-color;
}
.nav-fpac.flex-column .nav-link {
  border-bottom: 0;
  border-left: 4px solid transparent;
}
.nav-fpac.flex-column .nav-link:hover,
.nav-fpac.flex-column .nav-link:focus {
  border-left: 4px solid $gray-600;
}
ul.nav-fpac.flex-column .nav-link.active {
  // color: $body-color;
  border-left: 4px solid $primary !important;
  font-weight: $font-weight-bold;
}
