/////////////////////////////////////////////////////////////
// Override styles of Tables in the NRCS Design System
/////////////////////////////////////////////////////////////

.table thead th {
  border-bottom: $border-width solid $table-border-color;
}

.table {
  border-left: $border-width solid $table-border-color;
  border-right: $border-width solid $table-border-color;
  border-bottom: $border-width solid $table-border-color;
}

.table-alt {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.table-alt thead th {
  //   border-top: 2 * $border-width solid $table-border-color;
  //   border-bottom: 2 * $border-width solid $table-border-color;
  border-top: none;
}
.table-alt tr {
  background-color: transparent;
}

.table-active {
  font-weight: $font-weight-bold;
}
