/////////////////////////////////////////////////////////////
// Override styles of Tables in the NRCS Design System
/////////////////////////////////////////////////////////////

.table thead th {
  border-bottom: $border-width solid $table-border-color;
  vertical-align: middle; // bs default is bottom
}

.table {
  border-left: $border-width solid $table-border-color;
  border-right: $border-width solid $table-border-color;
  border-bottom: $border-width solid $table-border-color;
}

.table-alt {
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: transparent;
}
.table-alt thead th {
  //   border-top: 2 * $border-width solid $table-border-color;
  //   border-bottom: 2 * $border-width solid $table-border-color;
  border-top: none;
}

.table-active {
  font-weight: $font-weight-bold;
}

// DateTable
.datatable .btn {
  padding: 0.375rem; // hmm
}
.th-sort .btn-link {
  font-weight: $font-weight-bold;
  color: $gray-700; // same as table headers
}
.th-sort .btn-link:hover {
  color: $primary-dark;
}
